<<<<<<< HEAD
<%- include("partials/layout/header") %>
	<section class="lg:flex lg:gap-6">
		<section class="lg:w-1/2">
			<% if(latest != "") {%>
				<% latest.forEach(exercise => {%>
					<iframe width="560"
							height="315"
							src="<%= exercise.videoURL %>"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
							class="w-full shadow-lg rounded-2xl mt-14"
					>
					</iframe>
		</section>
		<section class="flex flex-col mt-6 space-y-6 lg:w-1/2">
			<div class="flex justify-between">
				<h2 class="w-10/12 text-xl font-semibold"><%- exercise.title%></h2>
				<button type="button" id="favoriteButton" class="bg-gray-200 rounded-full h-10 w-10 <%= exercise.isFavorite ? 'bg-coral/50' : '' %>" id="heart" aria-label="favorite" data-id="<%=exercise._id %>">
					<i class="fa-heart <%= exercise.isFavorite ? 'fa-solid' : 'fa-regular' %>"></i>
				</button>
			</div>
			<div>
				<p class="leading-loose text-slate-600"><%- exercise.description %>
			</div>
			<button id="markAsCompleteButton" class="py-4 text-lg text-white rounded-md bg-coral" data-id="<%= exercise._id %>">
				<%- exercise.isComplete ? "<i class='fa-solid fa-circle-check'></i> Completed" : "<i class='fa-regular fa-circle-check'></i> Mark as completed" %>
			</button>
			<a href="/exercises/<%= exercise._id %>" class="py-4 text-lg text-center border rounded-md text-coral border-coral">
				View Details
=======
<%- include("partials/layout/landingHeader") %>
   <script src="https://cdn.tailwindcss.com"></script>	
<div class="hero min-h-screen bg-base-200">
	<div class="hero-content lg:flex-row">
	  <img src="/img/thumbnail.jpg" class="max-w-full md:max-w-md h-auto rounded-lg shadow-2xl md relative overflow-hidden rounded-lg shadow-xl shadow-slate-300  " />
	  <div>
		<h1 class="text-5xl  leading-loose text-coral-dark flex items-center space-x-8"> 
			<img class="background-slate-700 mr-6 " src="/img/remind-logo.svg" alt="The logo for our awesome app">
			Re:Mind</h1>
		<p class="py-6 leading-loose text-slate-600">Welcome to Re:Mind, the app that helps you stay on track with your fitness routine. With Re:Mind, you can easily upload videos of your favorite exercises and set reminders to complete them. This way, you'll never forget to stay active and reach your fitness goals. Plus, our user-friendly interface makes it easy to stay organized and motivated. So why wait?</p>
		<div class="mt-2 flex gap-x-2 sm:justify-center">
			<a class="sm: py-2 px-5 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/login" >
			<button role="button" class="font-semibold">Login</button>
>>>>>>> 219e8ee558805e49781463b39189f0ce89c861ff
			</a>
			<a class="sm: py-2 px-5 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/signup" >
			<button role="button" class="font-semibold">Sign Up</button>
			</a>
		  </div>
	  </div>
	</div>
  </div>


<%- include("partials/layout/footer") %>
